<div class="container-fluid" id="login-container">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4">
            <h2 class="text-center mb-4">Sign Up</h2>
            <form [formGroup]="signUpForm" (ngSubmit)="getDataSignUp()">
                <div class="form-row">
                    <input type="text" class="form-control flex-fill" id="name" placeholder="name" formControlName="name" required>
                    <input type="text" class="form-control flex-fill" id="surname" placeholder="surname" formControlName="surname" required>
                </div>
                <div class="">
                    <input type="email" class="form-control" id="email" placeholder="email" formControlName="email" required>
                </div>
                <div class="">
                    <input type="password" class="form-control" id="password" placeholder="password" formControlName="password" required>
                </div>
                <button type="submit" class="btn btn-primary d-block mx-auto btn-extra">Sign Up</button>
            </form>
            <div class="text-center mt-2 mb-3">
                already have an account?
                <button (click)="goToLogin()" class="btn btn-link text-decoration-underline"> login</button>
            </div>
        </div>
    </div>
</div>