/*---------------------- Colores ----------------------*/
:root {
    --color-primario: #494e6b;
    --color-secundario: #98878f;
    --color-accion: #e17e7e;
    --color-fondo: #192231;
    --color-texto: #f4ebd0;
    --color-blanco: #ffffff;
    --color-gris: #a6a6a6;
    --color-negro: #000000;
    --color-degrade: #848794;
}

/*---------------------- Navbar ----------------------*/
.container-fluid {
    padding-left: 0.55rem;
    padding-right: 1.75rem;
}

.navbar {
    background: linear-gradient(to right, #e17e7e, #ff6e6e);
    font-family: 'Alata', sans-serif;
    height: 3.5rem;
    z-index: 900;
}

.nav-link,
.navbar-brand {
    color: #494e6b !important;
    transition: color 0.3s ease-in-out;
}

.nav-link {
    font-size: 1.05rem;
    margin-left: 1.5rem;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #192231 !important;
}

.nav-link.active-link {
    color: #192231 !important;
    font-weight: bold;
}

/* Icono para dirigirnos a la pantalla Login */
.login img {
    width: 2.8rem;
    height: 2.8rem;
    transition: filter 0.3s ease;
}

.login:hover img {
    filter: brightness(0.5);
}

/*---------------------- Footer ----------------------*/
.footer {
    background: linear-gradient(to right, #e17e7e, #ff6e6e);
    font-family: 'Alata', sans-serif;
    margin-top: 0;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}

/* About, Contact, Privacy, Terms & Conditions, etc. */
.footer-link {
    color: #494e6b;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease-in-out;
    display: inline-block;
}

.footer-link:hover {
    text-decoration: underline;
    color: #192231 !important;
}

/* "Pedidos Ya © 2010 - 2025" en negrita */
.copy {
    font-weight: bold;
}

/* Línea divisoria */
.footer-divider {
    border: none;
    height: 0.1rem;
    background-color: #494e6b;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Texto de información legal */
.footer-legal {
    color: #494e6b;
    font-size: 0.82rem;
    margin-bottom: -0.7rem;
}