:root {
  --color-primario: #494e6b;
  --color-secundario: #98878f;
  --color-accion: #e17e7e;
  --color-fondo: #192231;
  --color-texto: #f4ebd0;
  --color-blanco: #ffffff;
  --color-negro: #000000;
}

#email::placeholder,
#password::placeholder {
  color: #494e6b;
}

form {
  margin: 0.8rem;
  /* Agrega separación interna */
}

/* Elimina bordes de botón, formulario y ventana rosa */
.btn.btn-primary.btn-extra,
.btn.btn-primary.btn-extra:focus,
.btn.btn-primary.btn-extra:active,
.btn.btn-primary.btn-extra:focus-visible,
.form-control,
.form-control:focus,
.form-control:active,
.form-control:focus-visible,
.card.shadow.p-4,
.card.shadow.p-4:focus,
.card.shadow.p-4:active,
.card.shadow.p-4:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}


.container-fluid {
  background: linear-gradient(to right, #192231, #494e6b);
  padding-left: 2rem;
  padding-right: 2rem;
}

.card {
  width: 90%;
  max-width: 34rem;
}

/* transform:scale Escala todo el contenido de la tarjeta rosa */
.card.shadow.p-4 {
  transform: scale(1.1);
  border-radius: 2.2rem;
  background-color: #e17e7e;
}

.text-center.mb-4 {
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  padding-top: 0.5rem;
}

.text-center.mt-2 {
  color: #494e6b;
  font-family: 'Alata', sans-serif;
}

.form-control {
  background-color: #f4ebd0;
  height: 2rem;
  font-family: 'Alata', sans-serif;
  border-radius: 0.6rem;
  font-size: 1.08rem;
  flex: 1;
  margin-bottom: 1.8rem;
}

.btn-extra {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.btn.btn-primary.btn-extra {
  width: auto;
  display: inline-block;
  border-radius: 2rem;
  color: #f4ebd0;
  background-color: #192231;
  margin-top: 3.5rem;
  font-family: 'Alata', sans-serif;
  font-size: 1.25rem;
  height: 2.8rem;
}

.text-decoration-underline {
  color: #494e6b;
  font-family: 'Alata', sans-serif;
}