<div class="container-fluid" id="login-container">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4">
      <h2 class="text-center mb-4">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="getDataLogin()">
        <div class="">
          <input type="email" class="form-control mt-3" id="email" placeholder="email" formControlName="email" required>
        </div>
        <div class="">
          <input type="password" class="form-control mt-4" id="password" placeholder="password" formControlName="password" required>
        </div>
        <button type="submit" class="btn btn-primary d-block mx-auto btn-extra">Login</button>
      </form>
      <div class="text-center mt-2 mb-3">
        don’t have an account?
        <button (click)="goToSignUp()" class="btn btn-link text-decoration-underline"> sign up</button>
      </div>
    </div>
  </div>
</div>