<div class="container-fluid" id="persons-container">

  <div class="d-flex justify-content-between align-items-end px-4 py-3">

    <!-- Título -->
    <h1 class="mb-0">Persons</h1>

    <!-- Botones para abrir ventanas de Edit y Create Person -->
    <div>
      <!-- Botón de Create -->
      <button (click)="goToCreate()" class="btn btn-primary btn-extra btn-create" [disabled]="editMode">
        Create
      </button>
      <!-- Se verifica, para abrir la ventana, que se haya tocado el botón Create -->
      @if (showCreate) {
      <app-create-person [showCreate]="showCreate" (close)="closeCreate()" (saved)="onPersonCreated($event)">
      </app-create-person>
      }

      <!-- Botón de Edit -->
      <button (click)="toggleEditMode()" class="btn btn-primary btn-extra btn-edit" [class.active-edit]="editMode"> Edit
      </button>
      <!-- Se verifica, para abrir la ventana, que se haya tocado el botón Edit y luego seleccionado una persona -->
      @if (showEdit && selectedPerson) {
      <app-edit-person [showEdit]="showEdit" [person]="selectedPerson" (close)="closeEdit()"
        (saved)="onPersonSaved($event)">
      </app-edit-person>
      }
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="card shadow p-4 w-100 persons-card">
      <div class="persons-table-wrapper">
        <!-- Tabla responsive de Persons -->
        <table class="table table-hover align-middle mb-0">
          <!-- Columnas de la tabla de Persons -->
          <thead class="custom-table-header">
            <tr>
              <!-- Columna de ID -->
              <!-- Puede ordenarse la tabla por ID, tanto de forma ascendente como descendente -->
              <th scope="col" (click)="sortById()" class="sortable">
                <span class="th-sort-wrapper">
                  Id
                  <img src="/assets/icons/icono_flecha_abajo.svg" alt="Sort" class="sort-icon"
                    [class.rotate-180]="!isAscendingId" />
                </span>
              </th>
              <!-- Columnas de Name, Birthdate, Email, City, Province y Country -->
              <th scope="col">Name</th>
              <th scope="col">Birthdate</th>
              <th scope="col">Email</th>
              <th scope="col">City</th>
              <th scope="col">Province</th>
              <th scope="col">Country</th>
              <th></th> <!-- Columna vacía para el icono del botón de Edit-->
            </tr>
          </thead>

          <!-- Datos de las personas para la tabla -->
          <tbody>
            <!-- Renderiza una fila por cada persona en la lista, mostrando los datos -->
            @for (person of persons; track person.id) {
            <tr [class.table-active]="person === selectedPerson" [class.cursor-pointer]="editMode"
              (click)="editMode && selectAndEdit(person)">
              <td>{{ person.id }}</td>
              <td>{{ person.name }}</td>
              <td>{{ person.birthDate | date:'dd/MM/yyyy' }}</td>
              <td>{{ person.email }}</td>
              <td>{{ person.city.name }}</td>
              <td>{{ person.city.province.name }}</td>
              <td>{{ person.city.province.country.name }}</td>
              <td class="text-center">
                <!-- El botón de edición solo se activa si editMode está habilitado -->
                <button class="edit-icon btn-icon" [disabled]="!editMode" (click)="onRowEdit(person)"
                  title="Edit this person"></button>
              </td>
            </tr>
            }
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <!-- Paginación -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">

      <!-- Botón de Previous Page -->
      <li class="page-item" [class.disabled]="currentPage === 1">
        <!-- Se encuentra deshabilitado cuando el usuario está en la primera página -->
        <a class="page-link" href="javascript:void(0)" aria-label="Previous Page"
          [attr.aria-disabled]="currentPage === 1" (click)="goToPrevPage()">
          <!-- href="javascript:void(0)" evita recargar la página -->
          <span aria-hidden="true"> &laquo; </span> <!-- Icono visual oculto a lectores de pantalla -->
        </a>
      </li>

      <!--[].constructor(totalPages) crea un Array con la misma cantidad de elementos que el valor numerico de totalPages-->
      @for (page of [].constructor(totalPages); track $index) {
      <li class="page-item" [class.active]="currentPage === $index +1">
        <a class="page-link" href="javascript:void(0)" (click)="currentPage = $index+1; goToSelectPage()"> {{ $index + 1
          }}
        </a>
      </li>
      }

      <!-- Botón de Next Page -->
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <!-- Se encuentra deshabilitado cuando el usuario está en la última página -->
        <a class="page-link" href="javascript:void(0)" aria-label="Next Page"
          [attr.aria-disabled]="currentPage === totalPages" (click)="goToNextPage()">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

</div>