:root {
  --color-primario: #494e6b;
  --color-secundario: #98878f;
  --color-accion: #e17e7e;
  --color-fondo: #192231;
  --color-texto: #f4ebd0;
  --color-blanco: #ffffff;
  --color-negro: #000000;
}

.card.shadow.p-4{
  width: 90vw;                 
  height: 75vh;                
  color: white;
  border-radius: 8px;          

}