<div class="modal-container" [ngClass]="{ 'active': showCreate }">
    <div class="modal-content" [ngClass]="{ 'active': showCreate }">

        <!-- X para cerrar la ventana -->
        <button class="close-btn" (click)="closeCreate()"></button>

        <!-- Título -->
        <h2 class="text-center mb-2">Add Person</h2>

        <!-- Forms -->
        <form [formGroup]="personForm" (ngSubmit)="createPerson()">
            <div class="form-row">
                <!-- Form de nombre -->
                <div class="form-group">
                    <label for="name">name</label>
                    <input id="name" type="text" formControlName="name" class="form-control">
                    <!-- Verifica condiciones y muestra un mensaje de error en caso de ser necesario -->
                    @if (personForm.get('name')?.invalid && personForm.get('name')?.touched) {
                    <small class="error-msg">
                        Complete name
                    </small>
                    }
                </div>

                <!-- Form de fecha de nacimiento -->
                <div class="form-group">
                    <label for="birthdate">birthdate</label>
                    <input id="birthdate" type="date" formControlName="birthDate" class="form-control"
                        (change)="validateDate()">
                    <!-- Verifica condiciones y muestra un mensaje de error en caso de ser necesario -->
                    @if (personForm.get('birthDate')?.invalid && personForm.get('birthDate')?.touched) {
                    <small class="error-msg">
                        Invalid birthDate
                    </small>
                    }
                </div>
            </div>

            <!-- Form de email -->
            <div class="form-group">
                <label for="email">email</label>
                <input id="email" type="email" formControlName="email" class="form-control">
                <!-- Verifica condiciones y muestra un mensaje de error en caso de ser necesario -->
                @if (personForm.get('email')?.invalid && personForm.get('email')?.touched) {
                <small class="error-msg">
                    Invalid email address
                </small>
                }
            </div>

            <!-- Form de país -->
            <div class="form-group">
                <label for="country">country</label>
                <select id="country" class="form-control" formControlName="country" (change)="getProvinces()">
                    @for (country of countries; track country.id) {
                    <option [ngValue]="country">{{ country.name }}</option>
                    <!--Usamos ngValue para tomar el objeto seleccionado-->
                    }
                </select>
                <!-- Verifica condiciones y muestra un mensaje de error en caso de ser necesario -->
                @if (personForm.get('country')?.invalid && personForm.get('country')?.touched) {
                <small class="error-msg">
                    Select country
                </small>
                }
            </div>

            <!-- Form de provincia -->
            <div class="form-group">
                <label for="province">province</label>
                <select id="province" class="form-control" formControlName="province" (change)="getCities()"
                    [ngClass]="{ 'disabled-select': !personForm.get('province')?.enabled }">
                    @for (province of provinces; track province.id) {
                    <option [ngValue]="province">{{ province.name }}</option>
                    <!--Usamos ngValue para tomar el objeto seleccionado-->
                    }
                </select>
                <!-- Verifica condiciones y muestra un mensaje de error en caso de ser necesario -->
                @if (personForm.get('province')?.invalid && personForm.get('province')?.touched) {
                <small class="error-msg">
                    Select province
                </small>
                }
            </div>

            <!-- Form de ciudad -->
            <div class="form-group">
                <label for="city">city</label>
                <select id="city" class="form-control" formControlName="city"
                    [ngClass]="{ 'disabled-select': !personForm.get('city')?.enabled }">
                    @for (city of cities; track city.id) {
                    <option [ngValue]="city">{{ city.name }}</option>
                    <!--Usamos ngValue para tomar el objeto seleccionado-->
                    }
                </select>
                <!-- Verifica condiciones y muestra un mensaje de error en caso de ser necesario -->
                @if (personForm.get('city')?.invalid && personForm.get('city')?.touched) {
                <small class="error-msg">
                    Select city
                </small>
                }
            </div>

            <!-- Botones Confirm y Cancel -->
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn-base btn-confirm">Confirm</button>
                <button type="button" class="btn-base btn-cancel" (click)="closeCreate()">Cancel</button>
            </div>
        </form>
    </div>

    <!-- Mensaje de éxito -->
    @if (successMsg) {
    <div class="alert alert-success text-center">
        {{ successMsg }}
    </div>
    }
    <!-- Mensaje de error -->
    @if (errorMsg) {
    <div class="alert alert-danger text-center">
        {{ errorMsg }}
    </div>
    }

</div>