<div class="modal-container">
    <div class="modal-content">
        <button class="close-btn" (click)="closeCreate()"></button>
        <h2 class="text-center mb-2">Add Person</h2>
        <form [formGroup]="personForm">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">name</label>
                    <input id="name" type="text" formControlName="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="surname">surname</label>
                    <input id="surname" type="text" formControlName="surname" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="city">city</label>
                <select id="city" class="form-control" formControlName="city">
                    <option *ngFor="let city of cities" [value]="city">{{ city.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="province">province</label>
                <select id="province" class="form-control" formControlName="province">
                    <option *ngFor="let province of provinces" [value]="province">{{ province.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="country">country</label>
                <select id="country" class="form-control" formControlName="country">
                    <option *ngFor="let country of countries" [value]="country">{{ country.name }}</option>
                </select>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn-base btn-confirm">Confirm</button>
                <button type="button" class="btn-base btn-cancel" (click)="closeCreate()">Cancel</button>
            </div>
        </form>
    </div>
</div>